@keyframes ticktock {
  0% {
    transform-origin: top right;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform-origin: top right;
    transform: translate3d(500%, 0, 0);
  }
}

#show {
  position: relative;
  display: inline-block;
}

#output {
  position: relative;
  z-index: 1;
  margin: 0 20%;
  max-width: 80%;
  transition: background 1s;
}

#show:hover #output {
  background: #000;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: #000;
  z-index: 0;
  transition: opacity 1s;
  animation: ticktock 3s ease-in-out infinite alternate;
}

#show:hover #mask {
  opacity: 0;
}
